<header class="page-header" style="overflow: hidden;">
     <div style="float: left; width:50%;">
          <h1 class="about-me"> <a class="header-link" href="{{ site.baseurl }}/"> About Me</a></h1>
          <p class="about-me-text">
          Machine Learning and data science enthusiast and a front end web developer with a Masters in <i style="font-style: oblique; font-size: larger; color: rgb(109, 111, 135);">Machine Learning</i> and Bachelors in <i style="font-style: oblique; font-size: larger; color: rgb(109, 111, 135);">Computer Science</i>, 
          for a company looking for <i style="font-style: oblique; font-size: larger; color: rgb(109, 111, 135);">passionate and innovative problem solver</i> who can take quickly adapt to the work culture and deliver solutions taloring to the requirements of the 
          clients within the relms of machine learning.
          </p>
     </div>
     <div style="float: right; width: 50%;">
          <div style="padding-left: 30%;"><img class ='about-me-img' src="img/highlight_photo.jpeg" style="width: 60%; height: 60%; border-radius: 50%;" alt="err"></div>
          <a class='about-me-links' href="https://github.com/mlscmoulika"><i class="fa fa-github"style="color: #32383B;padding-top:5%;padding-left:36%"></i></a>
          <a class='about-me-links' href="https://www.linkedin.com/in/m-l-s-chandra-moulika-b354b0194/"><i class="fa fa-linkedin"style="color: #32383B;padding-top:5%;padding-left:4%;"></i></a>
          <a class='about-me-links' href="https://preply.com/en/tutor/1933981"><i class="fa fa-university"style="color: #32383B;padding-top:5%;padding-left:4%"></i></a>
          <a class='about-me-links' href="https://www.hackerrank.com/profile/mlscmoulika"><i class="fa fa-hackerrank"style="color: #32383B;padding-top:5%;padding-left:4%"></i></a>
     </div>
</header>