<!-- <div id="nav-bar">
     <a href="#about-me">About me</a>
     {% assign sorted_posts = site.posts | sort: 'order' | reverse %}
     {% for post in paginator.posts reversed %}
     <a href="#{{ post.title }}">{{ post.title }}</a>
     {% endfor %}
</div> -->
<header class="page-header" style="overflow: hidden;">
     <div style="float: left;">
          <h1 class="about-me" id="about-me"> <a class="header-link" href="{{ site.baseurl }}/"> Welcome to my Portfolio</a></h1>
          <h1 class="about-me" id="about-me"> <a class="header-link" href="{{ site.baseurl }}/"> About Me</a></h1>
          <p class="about-me-text">
          Hi, I am Moulika Madana. 
          <br>
          I like building things, learning new things, and exploring ideas that make me curious. My work has taken me through software, data, and AI. 
          <br>
          This is my little corner of the internet — a collection of things I’ve built, learned, created, and thought about along the way.
          <br>
          <br>
          To learn more about me, click the following links or scroll down.
          <br>
               Personal Projects
          <br>
               Blog Posts
          <br>
               Resume
          <br>
          <br>
          
          I am open to collaboration and connecting with like-minded people. If you want to get in touch, please connect with me on <a class='about-me-links' href="https://www.linkedin.com/in/moulika-madana-b354b0194/"><b><u>LinkedIn</u></b></a>. Find more about my projects on my <a class='about-me-links' href="https://github.com/mlscmoulika"><b><u>github account</u></b></a>.
          Thank you for visiting my portfolio! :) 
     </div>
     <!-- <div style="float: right; width: 50%;">
          <div style="padding-left: 30%;"><img class ='about-me-img' src="img/highlight_photo.jpeg" style="width: 60%; height: 60%; border-radius: 50%;" alt="err"></div>
          <a class='about-me-links' href="https://github.com/mlscmoulika"><i class="fa fa-github"style="color: #32383B;padding-top:5%;padding-left:36%"></i></a>
          <a class='about-me-links' href="https://www.linkedin.com/in/m-l-s-chandra-moulika-b354b0194/"><i class="fa fa-linkedin"style="color: #32383B;padding-top:5%;padding-left:4%;"></i></a>
          <a class='about-me-links' href="https://preply.com/en/tutor/1933981"><i class="fa fa-university"style="color: #32383B;padding-top:5%;padding-left:4%"></i></a>
          <a class='about-me-links' href="https://www.hackerrank.com/profile/mlscmoulika"><i class="fa fa-hackerrank"style="color: #32383B;padding-top:5%;padding-left:4%"></i></a>
     </div> -->
</header>